@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
	list-style-type: none;
}

html {
    color: #6C6C6C;
    background-color: #ffffff;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body {
	height: 100%;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.avatar img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.social {
    margin-top: 20px;
}

.social li {
    display: inline-block;
    margin-right: 2px;
}

.social li:hover a {
	transform: translateY(-10px);
}

.social a {
	opacity: 0.5;
    display: block;
	transition: transform 0.2s linear;
	width: 30px;
	height: 30px;
	background-size: contain;
}

.social a.gmail {
	background-image: url(../img/gmail.svg);
}

.social a.skype {
	background-image: url(../img/skype.svg);
}

.social a.linkedin {
	background-image: url(../img/linkedin.svg);
}

.social a.github {
	background-image: url(../img/github.svg);
}

.social a.vk {
	background-image: url(../img/vk.svg);
}

.social a.twitter {
	background-image: url(../img/twitter.svg);
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.bounce-in-down {
	-webkit-animation-name: bounce-in-down;
	-moz-animation-name: bounce-in-down;
	-o-animation-name: bounce-in-down;
	animation-name: bounce-in-down;
}

@-webkit-keyframes bounce-in-down {
    0% {
        -webkit-transform: translateY(-2000px);
    }

    60% {
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounce-in-down {
    0% {
        -moz-transform: translateY(-2000px);
    }

    60% {
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounce-in-down {
    0% {
        -o-transform: translateY(-2000px);
    }

    60% {
        -o-transform: translateY(30px);
    }

    80% {
        -o-transform: translateY(-10px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounce-in-down {
    0% {
        transform: translateY(-2000px);
    }

    60% {
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
